---
layout: default
---
<div class="post-layout has-toc">
  {%- include toc.html -%}

  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <p class="content-type-badge">Note</p>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      {%- assign read_time = content | number_of_words | divided_by: 200 -%}
      {%- if read_time < 1 -%}{%- assign read_time = 1 -%}{%- endif -%}
      <p class="post-meta-row">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        <span class="post-meta-dot">·</span>
        <span>{{ read_time }} min read</span>
      </p>
      {%- if page.tags and page.tags.size > 0 -%}
      <ul class="tag-list">
        {%- for tag in page.tags -%}
        <li><a class="tag" href="{{ "/tags/" | relative_url }}#{{ tag | slugify }}">{{ tag }}</a></li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- include giscus.html -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
